
// color
$primary: #AA0601;
$secondary: #650300;
$bg-pink: #FBF2F2;
$dark: #000;
$white: #fff;


// font-size
$font-size-base:16px;

$fs14: $font-size-base * 0.875;
$fs16: $font-size-base;
$fs18: $font-size-base * 1.125;
$fs20: $font-size-base * 1.25;
$fs24: $font-size-base * 1.5;
$fs28: $font-size-base * 1.75;
$fs32: $font-size-base * 2;
$fs36: $font-size-base * 2.25;
$fs42: $font-size-base * 2.265;
$fs48: $font-size-base * 3;
$fs64: $font-size-base * 4;
$fs72: $font-size-base * 4.5;


// space
.pt12{
    padding-top: 12px;
}
.pt48{
    padding-top: 48px;
}
.p16{
    padding: 16px;
}
.px32{
    padding: 32px 0;
}
.pb12{
    padding-bottom: 12px;
}
.pb100{
    padding-bottom: 100px;
}
.mr4{
    margin-right: 4px;
}
.mr16{
    margin-right: 16px;
}
.mr22{
    margin-right: 22px;
}
.mb4{
    margin-bottom: 4px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}
.mb24{
    margin-bottom: 24px;
}
.mb32{
    margin-bottom: 32px;
}
.mb36{
    margin-bottom: 36px;
}
.mb48{
    margin-bottom: 48px;
}
.mb80{
    margin-bottom: 80px;
}
.my16{
    margin: 16px 0;
}